{% extends 'base.html'%}
{% import 'macros.html' as macro %}
{% block content%}
<div class="container-fluid">
        {{ macro.displaySourceList(general_sources)}}
        <!-- General News Section  -->
        <h2> General News</h2>
        <hr>
        {{ macro.displaySourceList(sports_sources)}}
        <!-- Sports News Section  -->
        <h2> Sports News</h2>
        <hr>
        {{ macro.displaySourceList(health_sources)}}
        <!-- Health News Section  -->
        <h2> Health News</h2>
        <hr>
        {{ macro.displaySourceList(entertainment_sources)}}
        <!-- Entertainment News Section  -->
        <h2> Entertainment News</h2>
        <hr>
        {{ macro.displaySourceList(technology_sources)}}
        <!-- Technology News Section  -->
        <h2> Technology News</h2>
        <hr>
        {{ macro.displaySourceList(science_sources)}}
        <!-- Science News Section  -->
        <h2> Science News Sources</h2>
        <hr>
        {{ macro.displaySourceList(business_sources)}}
        <!-- Business News Section  -->
        <h2> Business News Sources</h2>
        <hr>
        
</div>
{%endblock%}